<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="stylesheets/main.css", data-inline)
  body
    //- img(src="/images/orient-logo.png" alt="orient-logo" class="main__img")
    h1 Kenya Orient Insurance Ltd
    div(class="card fluid")
      div(class="section")
        h2
          small Hi&nbsp;
          strong(class="text-title") #{name},
        p Your policy premium has been approved.
      div(class="section dark text-upper")
        span(class="policy-no") #{policyNumber}&nbsp;
        mark(class="tertiary") 
          | approved
      div(class="section")
        p
          | It is valid from 
          mark #{from}
          | &nbsp;to 
          mark #{to}
          | .
        
        p Thank you.
